name: Build and Zip
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build
        env:
          API_KEY: ${{ secrets.API_KEY }}

      - name: Create Zip File
        run: cd dist && zip -r ../travel-agency-app.zip .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cpanel-ready-zip
          path: travel-agency-app.zip
